<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Agendamento</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
	
	<script src="../Scripts/jquery.bootgrid.js"></script>
	<script src="../Scripts/jquery-2.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	
	<link href="../content/jquery.bootgrid.css" rel="stylesheet" />
	<link href="../content/timeline.css" rel="stylesheet" />
	<link href="../content/sb-admin-2.css" rel="stylesheet" />
	<script src="../Scripts/sb-admin-2.js"></script>
	<link href="../content/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="../content/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet" />

	<script src="../content/bower_components/metisMenu/dist/metisMenu.js"></script>

	<link rel="stylesheet" href="../content/datepicker.css" />
	<script src="../Scripts/bootstrap-datepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
	<link href="../content/fullcalendar.css" rel="stylesheet" />
	<link href="../content/fullcalendar.print.css" rel='stylesheet' media='print' / />
	<script src="../content/lib/moment.min.js"></script>
	<script src="https://fullcalendar.io/releases/fullcalendar/3.8.2/fullcalendar.min.js"></script>
	<script src="../Scripts/lang-all.js"></script>

</head>
<body>
 <div class="row">
     <div class="container">
         <br>
         <button type="button" class="btn btn-default bottonAdd" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Evento</button>
         <div clas="col-xs-4">
             <br>
         </div>
         <div class="col-xs-12"> <div id="calendar"></div></div>
     </div>
 </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                <h4 class="modal-title" id="EditModalLabel">Criar Evento</h4>
            </div>
            <form id="create-form" role="form" data-toggle="validator" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="question">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" data-error="Título requirido" required>
                    </div>
                    <div class="form-group">
                        <label for="date_end">Data do evento</label>
                        <input type="text" class="span2 datepicker form-control" name="date_End" data-date-format="dd/mm/yyyy" id="date_End" data-error="Data requirida" required>
                    </div>
                    <div class="form-group">
                        <label for="question">Horario</label>
                        <input type="time" class="form-control" id="horario" name="horario" data-error="Horario requirido" required>
                    </div>
                    <div class="form-group">
                        <label for="question">Descrição</label>
                        <input type="textarea" class="form-control" id="desc" name="desc" data-error="Descrição requirida">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <input type="submit" id="submitNew" name="submit" class="btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modelEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                <h4 class="modal-title" id="showModalLabel">Detalhe Evento</h4>
            </div>
            <form id="show-form" role="form" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="question">Título</label>
                        <input type="text" class="form-control" id="titulo_ed" name="titulo_ed" data-error="Título requirida" disabled>
                    </div>
                    <div class="form-group">
                        <label for="date_end">Data do evento</label>
                        <input type="text" class="span2 datepicker form-control" name="date_End_ed" data-date-format="dd/mm/yyyy" id="date_End_ed" disabled>
                    </div>
                    <div class="form-group">
                        <label for="question">Horario</label>
                        <input type="time" class="form-control" id="horario_ed" name="horario_ed" disabled>
                    </div>
                    <div class="form-group">
                        <label for="question">Descrição</label>
                        <input type="textarea" class="form-control" id="desc_ed" name="desc_ed" data-error="Descrição requirida" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
        $('#calendar').fullCalendar({
            lang: 'pt-br',
              events: [
                {
                  id:1,
                  title: 'Reunião TCC',
                  start: '2018-03-05',
                  data_evento: '2018-03-05',
                  horario: '19:20',
                  desc:'Reunião sobre correções'
                },
                {
                  id:2,
                  title: 'Debater ideias',
                  start: '2018-03-14',
                  data_evento: '2018-03-14',
                  horario: '20:10',
                  desc:'Novas ideias sobre o TCC'
                }
          ],
            eventClick: function(event){
                $('#titulo_ed').val(event.title);
                $('#desc_ed').val(event.desc);
                $('#date_End_ed').val(event.data_evento);
                $('#horario_ed').val(event.horario);
                $('#modelEdit').modal('show');
            }
        });

        $(document).on('click','#submitNew', function(){
                event.preventDefault();
                if (!($('#submitNew').hasClass("disabled"))) {
                    data_split = $('#date_End').val().split('/')
                    dia = data_split[0]
                    mes = data_split[1]
                    ano = data_split[2]
                    event_add  = {
                      title: $('#titulo').val(),
                      start: ano+'-'+mes+'-'+dia,
                      data_evento: $('#date_End').val(),
                      horario: $('#horario').val(),
                      desc: $('#desc').val()
                    };
                    $('#calendar').fullCalendar('renderEvent', event_add);
                    $('#create-form')[0].reset();
                   $('#myModal').modal('hide');
                    bootbox.dialog({
                    title: "Mensagen",
                    message: "Salvo!"
                });
            }
        });

    });
</script>

</body>
</html>