<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Agendamento</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
	
	<script src="../Scripts/jquery.bootgrid.js"></script>
	<script src="../Scripts/jquery-2.1.3.js"></script>
	
	<link href="../content/jquery.bootgrid.css" rel="stylesheet" />
	<link href="../content/timeline.css" rel="stylesheet" />
	<link href="../content/sb-admin-2.css" rel="stylesheet" />
	<script src="../Scripts/sb-admin-2.js"></script>
	<link href="../content/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="../content/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet" />

	<script src="../content/bower_components/metisMenu/dist/metisMenu.js"></script>

	<link rel="stylesheet" href="../content/datepicker.css" />
	<script src="../Scripts/bootstrap-datepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="../content/fullcalendar.css" rel="stylesheet" />
	<link href="../content/fullcalendar.print.css" rel='stylesheet' media='print' / />
	<script src="../content/lib/moment.min.js"></script>
	<script src="../Scripts/fullcalendar.js"></script>
	<script src="../Scripts/lang-all.js"></script>

</head>
<body>
 <div class="row">
     <div class="container">
         <br>
         <button type="button" class="btn btn-default bottonAdd" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Evento</button>
         <div clas="col-xs-4">
             <br>
         </div>
         <div class="col-xs-12"> <div id="calendar"></div></div>
     </div>
 </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                <h4 class="modal-title" id="EditModalLabel">Criar Evento</h4>
            </div>
            <form id="create-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="question">Descrição</label>
                        <input type="text" class="form-control" id="desc" name="desc">
                    </div>
                    <div class="form-group">
                        <label for="date_end">Data do evento</label>
                        <input type="text" class="span2 datepicker form-control" name="date_End" data-date-format="dd/mm/yyyy" id="date_End">
                    </div>
                    <div class="form-group">
                        <label for="question">Horario</label>
                        <input type="time" class="form-control" id="horario" name="horario">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <input type="submit" id="submitNew" name="submit" class="btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>



<!--<div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>-->
<!--            <h4 class="modal-title" id="EditModalLabel">Editar Evento</h4>-->
<!--        </div>-->
<!--        <form id="edit-form">-->
<!--            <div class="modal-body">-->
<!--                <div class="form-group">-->
<!--                    <label for="question">Descrição</label>-->
<!--                    <input type="text" class="form-control" id="desc-ed" name="desc-ed">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="date_end">Data do evento</label>-->
<!--                    <input type="text" class="span2 datepicker form-control" name="date_End-ed" data-date-format="dd/mm/yyyy" id="date_End-ed">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="question">Horario</label>-->
<!--                    <input type="time" class="form-control" id="horario-ed" name="horario-ed">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>-->
<!--                <input type="submit" id="submitNew" name="submit" class="btn btn-primary" value="Save" />-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
        $('#calendar').fullCalendar({
            lang: 'pt-br',
            events: 'http://localhost/~iTSangar/fieg/v2/api/calendars',
            eventClick: function(event){
                $.ajax({
                    url: 'http://localhost/~iTSangar/fieg/v2/api/calendars/' + event._id,
                    type: 'GET',
                    dataType: "json"
                }).done(function (response) {

                    createReplye(response);
                    $("#edit-form").validate({

                        // Specify the validation rules
                        rules: {
                            desc_ed: "required",
                            date_End_ed: "required",
                            horario_ed: "required"
                        },

                        // Specify the validation error messages
                        messages: {
                            desc_ed: "Por favor insira uma descrição",
                            date_End_ed: "Por favor insira uma data para o evento",
                            horario_ed: "Por favor insira um horario"

                        },

                        submitHandler: function (form) {

                            var send = {
                                event: $('#desc_ed').val(),
                                date: $('#date_End_ed').val(),
                                hour: $('#horario_ed').val()
                            };


                            $.ajax({
                                url: 'http://localhost/~iTSangar/fieg/v2/api/calendars/'+$('#idCalendar').val(),
                                type: 'POST',
                                data: send,
                                dataType: "json"
                            }).done(function (response) {
                                debugger
                                if (!response.error) {
                                    bootbox.dialog({
                                        title: "Messege",
                                        message: "Salvo"
                                    });

                                    $('#modalReply').modal('hide');
                                    $('#modalReply').remove();
                                    document.getElementById("create-form").reset();
                                    $('#calendar').fullCalendar( 'refetchEvents' );
                                } else {

                                    bootbox.dialog({
                                        title: "Mensagen",
                                        message: "Falhou!"
                                    });
                                }
                            });
                            return false;
                        }
                    });
                });
               //$('#myCalendar').fullCalendar('removeEvents',event._id);
            }
        });

        $("#create-form").validate({

            // Specify the validation rules
            rules: {
                desc: "required",
                date_End: "required",
                horario: "required"
            },

            // Specify the validation error messages
            messages: {
                desc: "Por favor insira uma descrição",
                date_End: "Por favor insira uma data para o evento",
                horario: "Por favor insira um horario"

            },

            submitHandler: function (form) {

                var send = {
                    event: $('#desc').val(),
                    date: $('#date_End').val(),
                    hour: $('#horario').val()
                };


                $.ajax({
                    url: 'http://localhost/~iTSangar/fieg/v2/api/calendars',
                    type: 'POST',
                    data: send,
                    dataType: "json"
                }).done(function (response) {
                    debugger
                    if (!response.error) {
                        bootbox.dialog({
                            title: "Messege",
                            message: response.message
                        });

                        $('#myModal').modal('hide');

                        document.getElementById("create-form").reset();
                        $('#calendar').fullCalendar( 'refetchEvents' );
                    } else {

                        bootbox.dialog({
                            title: "Messege",
                            message: "fail"
                        });
                    }
                });
                return false;
            }
        });

        $(document).on('click','#deleteEvent', function(){
            bootbox.dialog({
                message: "Certeza que quer deletar este evento?",
                title: "Mensagem",
                buttons: {
                    cancel: {
                        label: "cancelar",
                        className: "btn-default",
                        callback: function() {

                        }
                    },
                    main: {
                        label: "sim",
                        className: "btn-primary",
                        callback: function() {
                            $.ajax({
                                url: 'http://localhost/~iTSangar/fieg/v2/api/calendars/delete/'+$('#idCalendar').val(),
                                type: 'POST',
                                dataType: "json"
                            }).done(function (response) {
                                debugger
                                if (!response.error) {
                                    bootbox.dialog({
                                        title: "Messege",
                                        message: response.message
                                    });
                                    $('#modalReply').modal('hide');
                                    $('#modalReply').remove();
                                    $('#calendar').fullCalendar( 'refetchEvents' );
                                } else {

                                    bootbox.dialog({
                                        title: "Mensagem",
                                        message: "Falhou"
                                    });
                                }
                            });
                        }
                    }
                }
            });
        });

        function createReplye(data) {
            debugger
            $('#modalReply').remove();
            var d =  data.event_day;
            d = d.substr(0, 10).split("-");

            d = d[2] + "/" + d[1] + "/" + d[0];
            $('body').append(
                '<div class="modal fade " id="modalReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">' +
                    '<div class="modal-dialog">' +
                        '<div class="modal-content">' +
                             '<div class="modal-header">' +
                                '<ul id="mytabss" class="nav nav-pills" role="tablist">'+
                                    '<li role="presentation " class="active"><a href="#tab1" id="hopTabs1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Detalhes</a></li>'+
                                    '<li role="presentation " class=""><a href="#tab2" id="hopTabs2" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Editar</a></li>'+
                                '</ul>' +
                             '<div/>'+
                            '<div id="" class="tab-content">'+
                                '<div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="hopTabs1">' +
                                   // '<div class="modal-dialog">' +
                                        //'<div class="modal-content">' +
                                           // '<div class="modal-header">' +
                                             //   '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                             //   '<h4 class="modal-title" id="myModalLabel">Resposta de Evento</h4>' +
                                            //'</div>' +
                                        '<div class="modal-body">' +
                                            '<h3>'+data.event+' - '+d+'</h3>' +
                                            '<ul id="myTab" class="nav nav-tabs" role="tablist">'+

                                            '</ul>' +
                                            '<div id="myTabContent" class="tab-content">'+
                                            '</div>'+
                                        '</div>' +
                                        '<div class="modal-footer">' +
                                            '<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>' +
                                           // '</div>' +
                                        '</div>' +
                                   // '</div>' +
                                '</div>'+
                                '<div role="tabpanel" class="tab-pane fade in" id="tab2" aria-labelledby="hopTabs2">' +
                                        '<div class="modal-body">' +
                                                '<div class="modal-header">'+
                                                    '<h4 class="modal-title" id="EditModalLabel">Editar Informações</h4>'+
                                                '</div>'+
                                                '<form id="edit-form">'+
                                                    '<div class="modal-body">'+
                                                        '<input type="hidden" id="idCalendar" name="idCalendar" value="'+data.id+'">'+
                                                        '<div class="form-group">'+
                                                            '<label for="question">Descrição</label>'+
                                                            '<input type="text" class="form-control" id="desc_ed" name="desc_ed" value="'+data.event+'">'+
                                                        '</div>'+
                                                        '<div class="form-group">'+
                                                            '<label for="date_end">Data do evento</label>'+
                                                            '<input type="text" class="span2 datepicker form-control" value="'+d+'" name="date_End_ed" data-date-format="dd/mm/yyyy" id="date_End_ed">'+
                                                        '</div>'+
                                                        '<div class="form-group">'+
                                                            '<label for="question">Horario</label>'+
                                                            '<input type="time" class="form-control" id="horario_ed" value="'+data.event_hour+'" name="horario_ed">'+
                                                        '</div>'+

                                                            '<div class="modal-footer">'+
                                                                '<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>'+
                                                                '<button type="button" class="btn btn-danger" id="deleteEvent">Deletar</button>'+
                                                                '<input type="submit" id="submitNew" name="submit" class="btn btn-primary" value="Save" />'+
                                                            '</div>'+
                                                    '</div>'+
                                                '</form>'+
                                        '</div>'+
                                //'</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                '</div>');

                $('#myTab').append('<li role="presentation " class="active"><a href="#Name1" id="hopTab1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Sim</a></li>');
                $('#myTabContent').append('<div role="tabpanel" class="tab-pane fade in active" id="Name1" aria-labelledby="hopTab1">' +
                '<table class="table table-condensed table-hover table-striped bootgrid-table">' +
                '<thead>' +
                '<tr>' +
                '<th class="col-xs-3""></th><th class="col-xs-8">User</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody class="table" id="replysim">' +

                '</tbody>' +
                '</table>' +
                '</div>');
            $('#myTab').append('<li role="presentation " class=""><a href="#Name2" id="hopTab2" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Nao</a></li>');
                $('#myTabContent').append('<div role="tabpanel" class="tab-pane fade in" id="Name2" aria-labelledby="hopTab2">' +
                '<table class="table table-condensed table-hover table-striped bootgrid-table">' +
                '<thead>' +
                '<tr>' +
                '<th class="col-xs-3""></th><th class="col-xs-8">User</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody class="table" id="replynao">' +

                '</tbody>' +
                '</table>' +
                '</div>');
            $('#myTab').append('<li role="presentation " class=""><a href="#Name3" id="hopTab3" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Talvez</a></li>');
                $('#myTabContent').append('<div role="tabpanel" class="tab-pane fade in " id="Name3" aria-labelledby="hopTab3">' +
                '<table class="table table-condensed table-hover table-striped bootgrid-table">' +
                '<thead>' +
                '<tr>' +
                '<th class="col-xs-3""></th><th class="col-xs-8">User</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody class="table" id="replytalvez">' +

                '</tbody>' +
                '</table>' +
                '</div>');
            var option;
            for (var i = 0; i < data.responses.length ; i++) {
                switch (data.responses[i].option){
                    case "nao":
                        option = "nao";
                        break;
                    case "talvez":
                        option = "talvez";
                        break;
                    case "sim":
                        option = "sim";
                        break;

                }
                $('#reply'+option).append('<tr><td class="col-xs-3"><img src="' + data.responses[i].user_image + '" style="width: 50px;height: 50px"/></td><td class="col-xs-9">' + data.responses[i].user + '</td></tr>');
            }

            $('#modalReply').modal('show');
        }
    });
</script>

</body>
</html>