<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Aprovar TCC</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="../Scripts/aprovar_tcc.js"></script>
	<link rel="stylesheet" href="../css/login.css">


</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">

					<div class="panel-body">
						<div class="row">

							<form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
								<div class="form-group col-md-6">
									<label for="titulotcc">Titulo</label>
									<input type="input" class="form-control" id="titulotcc" placeholder="Digite um titulo">
								</div>
								<div class="form-group col-md-6">
									<label for="subtitulo">Subtitulo</label>
									<input type="input" class="form-control" id="subtitulo" placeholder="Digite um subtítulo">
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Anexo</th>
													<th scope="col">Tipo</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="http://www.mackenzie.br/fileadmin/Graduacao/CCBS/Cursos/Ciencias_Biologicas/1o_2012/Biblioteca_TCC_Lic/2009/2o_Semestre/Karen_e_Priscila.pdf">tcc.pdf</a>
													</td>
													<td>PDF</td>
												</tr>
												<tr>
													<td>
														<a href="http://www.epex.eb.mil.br/images/publicacoes/Revista_Nega/files/thumb/155.jpg">termo_aceite.png</a>
													</td>
													<td>PDF</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="form-group">
										<label for="area">Area Pesquisa</label>
										<select class="custom-select form-control" id="area">
											<option selected>Escolha uma Àrea</option>
											<option value="1">Inteligencia de Negocios</option>
											<option value="2">Inteligencia Artificial</option>
											<option value="3">Computação nas Nuvens</option>
											<option value="4">Engenharia de Software</option>
										</select>


									</div>
									<div class="form-group">
										<label for="subtitulo">Orientador</label>
										<select class="custom-select form-control" id="orientador">
											<option selected>Escolha um orientador</option>
											<option value="1">Nenhum</option>
											<option value="2">Eu não</option>
											<option value="3">Nem eu</option>
											<option value="4">Eu posso, mas nao te ajudo</option>
										</select>
									</div>
									<div class="form-group">
										<label for="resumo">Resumo</label>
										<textarea class="form-control" id="resumo" placeholder="Digite um resumo">
									</textarea>
									</div>

									<div class="form-row">
										<div class="col-md-6 "></div>
										<div class="col-md-2 "></div>
										<div class="col-md-2 ">
											<button type="button" name="cancelar" id="cancelar" class="btn btn-danger">Cancelar</button>
										</div>
										<div class="col-md-2 ">
											<button type="button" name="aprovar" id="aprovar" class="btn btn-success">Aprovar</button>
										</div>

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>