<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Agendamento</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	
	<script src="../Scripts/listagem_professor.js"></script>
	<link rel="stylesheet" href="../css/listagem_professor.css">
</head>
<body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Aluno (s)</th>
              <th>Área de Pesquisa</th>
              <th>Titulo</th>
              <th>Subtitulo</th>
              <th>Novo Compromisso</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr>
              <td>1</td>
              <td>Cícero Moura</td>
              <td>IoT</td>
              <td>Sistema de Monitoramento a Saúde do Idoso</td>
              <td>-</td>
              <td><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Lucas Mendes</td>
			  <td>Redes</td>
			  <td>Segunraça e Certificação Digital</td>
			  <td>-</td>
			  <td><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Diogo Dil e Saulo Souza</td>
			  <td>Machine Learning</td>
			  <td>Previsão de Assaltos e Roubos em Goiânia</td>
			  <td>-</td>
			  <td><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Matheus Santos e Lucas Barros</td>
			  <td>Metologias Ágeis</td>
			  <td>Melhor Metodologia de Desenvolvimento de Jogos</td>
			  <td>-</td>
			 <td><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Rone Jefferson</td>
			  <td>Atoa</td>
			  <td>Ainda vai fazer</td>
			  <td>Um bem legal</td>
			  <td><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></td>
            </tr>
          
          </tbody>
        </table>   
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
	</div>
</div>

</body>
</html>